<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vanam"
        tools:targetApi="31">
        <activity
            android:name=".activities.ViewTree"
            android:exported="false" />
        <activity
            android:name=".activities.MyTrees"
            android:exported="false" />
        <activity
            android:name=".activities.UploadTree"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Logout"
            android:exported="false" />
        <activity
            android:name=".activities.TermsAndPrivacy"
            android:exported="false" />
        <activity
            android:name=".activities.PhoneSupport"
            android:exported="false" />
        <activity
            android:name=".activities.ChatSupport"
            android:exported="false"
            android:theme="@style/Theme.Vanam" />
        <activity
            android:name=".activities.EmailSupport"
            android:exported="false" />
        <activity
            android:name=".activities.HelpCenter"
            android:exported="false" />
        <activity
            android:name=".activities.DeleteAccount"
            android:exported="false" />
        <activity
            android:name=".activities.PrivacySettings"
            android:exported="false" />
        <activity
            android:name=".activities.LinkedAccounts"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePass"
            android:exported="false" />
        <activity
            android:name=".activities.Settings"
            android:exported="false" />
        <activity
            android:name=".activities.EditProfile"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Vanam.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".profile.BasicActivity"
            android:exported="false" />
        <activity
            android:name=".profile.InterestActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ExpertiseActivity"
            android:exported="false" />
        <activity
            android:name=".profile.GoalsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Dashboard"
            android:exported="false" />
    </application>

</manifest>